<section>
  <article>
    <%= form_tag admin_path do %>
      <%= label_tag "Password" %>
      <%= password_field_tag :password %>
      <%= submit_tag "Submit" %>
  <% end %>
  </article>
</section>
