<section>
  <h3 class="title">Spread the word!</h3>
  <div class="tweet">
    <h3><a href="https://twitter.com/saronyitbarek/status/433223791997513728" target="_blank">2nd #CodeNewbie TwitterChat - themed "Starter Projects." Tell us about your early #programming projects this Wed @ 7PM EST Please RT!</a></h3>
    <img src="/img/twitter-60.png"></img>
</div>
</section>

<section>
  <h3><div class="title">Next TwitterChat:</div> Wed. February 12 @ 7PM EST --  theme : "Starter Projects" <a href="http://www.twubs.com/CodeNewbie" target="_blank" class="join">Join the Chat</a></h3>

</section>