<h1>#CodeNewbie</h1>
<br>
<h2 class="subtitle">A Twitter chat for beginner coders to connect and learn from more experienced developers.</h2>

<section>
  <h3><div class="title">Next TwitterChat:</div> Wed. February 11 @ 7PM EST ::: Theme # => Starter Projects</h3>
</section>

<section>
  <h3 class="title rules">The Rules:</h3>

  <ul class="rules">
    <li>Be nice.</li>
    <li>Be honest.</li>
    <li>Be helpful.</li>
  </ul>
</section>

<section>
  <h3 class="title">Spread the word!</h3>
  <h3 class="tweet"><a href="https://twitter.com/saronyitbarek/status/433223791997513728" target="_blank">2nd #CodeNewbie TwitterChat - themed "Starter Projects." Tell us about your early #programming projects this Wed @ 7PM EST Please RT!</a></h3>
</section>

<section class="faq">
  <h3 class="title">FAQ</h3>
  <h3>How does a TwitterChat work?</h3>

  <ul>
    <li>Saron and Carlos, <strong>the moderators will post a question</strong>, like this one: <em>"Q1: What are you favorite programming books? #CodeNewbie"</em></li>

    <li>You <strong>respond to the question</strong>, like this: <em>"A1: I loved Chris Pine's 'Learn to Program.' Great book!#CodeNewbie"</em>

    <li><strong>Respond to people directly</strong>, like this: <em>"@codergal what did you like about 'Learn to Program'? I've heard a lot about it! #CodeNewbie"</em></li>

    <li>After some discussion, roughly 5-10 minutes worth, <strong>Saron and Carlos will post a new question</strong> for the community to respond to.</li>

  </ul>

  <h3>How do I join the chat?</h3>

  <ul>
    <li>Follow the hashtag #CodeNewbie<strong> every Wednesday at 7PM EST</strong>, and start tweeting with us!</li>

    <li>Respond to one of the questions, labeled <strong>"Q1", "Q2", "Q3"</strong>, etc, with a labeled answer <strong>"A1", "A2", "A3"</strong> etc.</li>

    <li>Respond to other people's tweets. <strong>Share a link. Tell a story. </strong>Talk about your coding experiences. Be sure to include the hashtag, #CodeNewbie.</li>
  </ul>

  <h3>How can I follow the chat?</h3>
  <p>You can search for #CodeNewbie on Twitter and follow the stream, or you can go <a href="http://www.twubs.com/CodeNewbie" target="_blank">HERE</a> for a more "chatroom" style experience.</p>

  <h3>How can I help?</h3>

  <p>We need your help in spreading the word to both newbies and experienced developers. And you can start by tweeting about it right now!</p>

  <p>If you're interested in helping out further, tweet us! @saronyitbarek or @carlosplusplus</p>
</section>

<section>
  <h3 class="title">About</h3>
  <p>Saron (<a href="https://twitter.com/saronyitbarek" target="_blank">@saronyitbarek</a>) and Carlos (<a href="https://twitter.com/CarlosPlusPlus" target="_blank">@carlosplusplus</a>) are developers and graduates of the Flatiron School (<a href="https://twitter.com/FlatironSchool" target="_blank">@FlatironSchool</a>). Carlos is currently a developer for Time Inc. and Saron is a hacker-in-residence for the New York Tech Meetup.</p>
</section>