<!doctype html>
<html>
  <head>
    <title>#CodeNewbie</title>

    <!-- Add Stylesheets  -->
    <link rel="stylesheet" href="/css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Averia+Sans+Libre' rel='stylesheet' type='text/css'>
    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-47998325-1', 'codenewbie.herokuapp.com');
      ga('send', 'pageview');
    </script>
  </head>

  <!-- Body of Application -->
  <body>
  
    <div class="container">
      <nav>
        <a href="/"><h1>#CodeNewbie</h1></a>

        <h3><a href="/chats/5" class="last-week">Last Week on #CodeNewbie</a></h3>
        
      </nav>

      <h2 class="subtitle">A Twitter chat for beginner coders to connect and learn from more experienced developers.</h2>

      <%= yield %>
    </div>

    <!-- Load Global and Custom JavaScript HERE -->
    <%= javascripts %>
    
  </body>
</html>