<!doctype html>
<html>
  <head>
    <!-- Load CSS HERE -->
  </head>

  <!-- Body of Application -->
  <body>
    
    <div class="container">
      <%= yield %>
    </div>

    <!-- Load Global and Custom JavaScript HERE -->
    <%= javascripts %>
    
  </body>
</html>