<!doctype html>
<html>
  <head>
    <title>#CodeNewbie" </title>

    <link rel="stylesheet" href="/css/style.css">
  </head>

  <!-- Body of Application -->
  <body>
    
    <div class="container">
      <%= yield %>
    </div>

    <!-- Load Global and Custom JavaScript HERE -->
    <%= javascripts %>
    
  </body>
</html>