<section>
  <article>
    <h2 class="title">About Us</h2>
    <p>Saron (<a href="https://twitter.com/saronyitbarek">@saronyitbarek</a>) first started CodeNewbie as a twitter chat to support and encourage people on their programming journey. Since then it's grown into an incredible community of coders excited to support and encourage each other.</p>
  </article>
</section>
