<section>
  <article class="no-border">
    <h3 class="title small-12 large-12 columns">About</h3>
    <div class="small-12 large-9 columns">
      <p>CodeNewbie started as a weekly TwitterChat to connect people learning to code by <a href="http://twitter.com/saronyitbarek">Saron</a>. Since then it’s grown into an incredible community of programmers at all levels encouraging each other on their coding journey.</p>
    </div>
    <div class="small-12 large-3 columns right">
      <h4><%= mail_to "hello@codenewbie.org", "Email Us" %></h4>
      <h4><a href="http://twitter.com/codenewbies" target="_blank">Follow Us on Twitter<a></h4>
    </div>
  </article>
</section>
