<section>
  <article>
    <h2 class="title">About Us</h2>
    <p>Saron (<a href="https://twitter.com/saronyitbarek">@saronyitbarek</a>) and Carlos (<a href="https://twitter.com/CarlosPlusPlus">@carlosplusplus</a>) are developers and graduates of the Flatiron School (<a href="https://twitter.com/FlatironSchool">@FlatironSchool</a>). Carlos is currently a developer for Time Inc. and Saron is a hacker-in-residence for the NY Tech Meetup. We started <strong> #CodeNewbie </strong> to support and encourage people on their programming journey.</p>
  </article>
</section>