<section>
  <article>
    <h2 class="title">About Us</h2>
    <p>Saron (<a href="https://twitter.com/saronyitbarek">@saronyitbarek</a>) originally started CodeNewbie as a chat with Carlos (<a href="https://twitter.com/CarlosPlusPlus">@carlosplusplus</a>), both developers passionate about coding. <strong> #CodeNewbie </strong> was started to support and encourage people on their programming journey.</p>
  </article>
</section>
