<section class="challenge">
  <section>
    <article class="next-chat-info">
      <h1>Last Week : <%= link_to @chat.name, chat_path(@chat) %></h1>
            <p>
          <%= @chat.description.html_safe.truncate(300) if @chat.description %> <%= link_to "continue", chat_path(@chat)%>
        </p>
    </article>  
    <article class="sign-up">
      <%= render 'pages/mailchimp_signup_form' %>
    </article>
  </section>

</section>

 