<section class="challenge">
  <section>
    <article class="next-chat-info">
      <h1>CodeNewbie Challenge: <%= link_to @challenge.hashtag, challenge_path("the-commit") %></h1>
            <p>
          <%= @challenge.description.html_safe %> Tweet us at 
          <a href="https://twitter.com/codenewbies">
            @CodeNewbies
          </a>
        </p>
        <p><%= @challenge.source.html_safe %></p>
    </article>  
    <article class="sign-up">
      <%= render 'pages/mailchimp_signup_form' %>
    </article>
  </section>

</section>

 