<section>
    <aside class="rules">
    <h2>The Chat Rules:</h2>
    <ul>
      <li>Be nice.</li>
      <li>Be honest.</li>
      <li>Be helpful.</li>
    </ul>
  </aside>
  <article class="faqs">
    <h3 class="question">What's a TwitterChat?</h3>
    <ul>
      <li>Saron and Carlos, <strong>the moderators, will post a question</strong>, like this one: "Q1: What are you favorite programming books? #CodeNewbie"</li>

      <li>You <strong>respond to the question</strong>, like this: "A1: I loved Chris Pine's 'Learn to Program.' Great book!#CodeNewbie"

      <li>You can also <strong>respond to people directly</strong>, like this: "@codergal what did you like about 'Learn to Program'? I've heard a lot about it! #CodeNewbie"</li>

      <li>After some discussion and back and forth, roughly 5-10 minutes worth, <strong>Saron and Carlos will post a new question</strong> for the community to respond to.</li>
      <h4>***</br> Don't forget the #CodeNewbie hashtag </br>***</h4>
    </ul>
    <h3 class="question">How do I join the chat?</h3>
    <ul>
      <li>Follow the hashtag #CodeNewbie<strong> every Wednesday at 9PM EST</strong>, and start tweeting with us!</li>

      <li>Respond to one of the questions, labeled <strong>"Q1", "Q2", "Q3"</strong>, etc, with a labeled answer <strong>"A1", "A2", "A3"</strong> etc.</li>

      <li>Or respond to other people's tweets. <strong>Share a link. Tell a story. </strong>Talk about your coding experiences. Just make sure to include the hashtag, #CodeNewbie.</li>
    </ul>
    <h3 class="question">How can I help?</h3>
    <ul>
      <p>We need your help in spreading the word to both newbies and experienced developers. And you can start by tweeting about it right now!</p>
    </ul>
  </article>
</section>