<section class="next-chat">
  
  <article class="next-chat-info">
    <div class="tweet">
      <h2>The most supportive community of programmers and people learning to code.</h2>
    </div>
    <div class="next-twitter-chat"> 
      <h2>next TwitterChat:</h2>
      <h1><%= @next_wednesday %><span class="twitter-chat-date"> @ 9PM EST</span></h1>
<!--       <h2></h2>
 -->    </div>
  </article>  
<!--   <article class="tweet">
    <h2><a href="https://twitter.com/CodeNewbies/status/465182577520017408" target="_blank">The most supportive community of programmers and people learning to code.</a></h2>
    <a href="https://twitter.com/CodeNewbies/status/465182577520017408" target="_blank"><img src="/assets/twitter.png"></a>
  </article> -->
</section>