<section class="next-chat">
  <section>
    <article class="next-chat-info">
      <div class="tweet">
        <h2>The most supportive community of programmers and people learning to code.</h2>
      </div>
    </article> 
  </section>
</section>
<div class="callout mobile">
  <div class="subtitle">next chat</div>
  <h1><%= @next_wednesday.strftime("%b %d") %></h1>
  <h3>9PM EST</h3>
  <div class="flag">
    <a href="<%= chat_info_path%>"><span>more info</span></a>
  </div>
</div>