<section class="next-chat">
  <section>
    <article class="next-chat-info">
      <div class="tweet">
        <h2>The most supportive community of programmers and people learning to code.
          <span class="flag desktop">
            <a href="/get-involved">
              get involved
            </a>
          </span>
        </h2>
      </div>
    </article> 
  </section>
</section>