    <div class="side-nav desktop">
      <div class="side-nav-title">
        <a href="<%= podcasts_path %>">
          <h3 class="podcast">
            Podcast
            <span>-></span>
          </h3>
        </a>
      </div>
      <div class="side-nav-title">
        <a href="<%= chat_info_path %>">
          <h3 class="chat">
            TwitterChat
            <span>-></span>
          </h3>
        </a>
      </div>
      <div class="side-nav-title">
        <a href="<%= chats_path %>">
          <h3 class="blue">
            Blog
            <span>-></span>
          </h3>
        </a>
      </div>
      <div class="side-nav-title">
        <a href="<%= learn_path %>">
          <h3 class="purple">
            Learn
            <span>-></span>
          </h3>
        </a>
      </div>
      <div class="side-nav-title">
        <a href="#">
          <h3>
            How To Get Involved
            <span>-></span>
          </h3>
        </a>
      </div>
    </div>