<section class="full-panel gray">
  <section class="page-header">
    <article>
      <h1>TwitterChat</h1>
      <p>Join our weekly <a href="https://twitter.com/search?f=realtime&q=%23CodeNewbie&src=typd" target="_blank">#CodeNewbie</a> twitter chat, every Wed @ 9PM EST. </p>
      <span class="share inline-left">
        <a href="#" class="blue" target="_blank">Set a reminder</a>
      </span>
    </article>
  </section>
</section>


<%= render 'pages/faqs' %>