<%= render :partial => "pages/main_header", :locals => { :title => "Get Involved", :description => "All the ways you can get join our community.", :button_color => "blue", :cta => nil, link: "#" } %>

<section>
  <ul class="big-list">
    <li class="buffer bottom-border">
      <span class="title">Sponsor the CodeNewbie Podcast</span>
      </br>
      <span>We've got two sponsorship spots open for the CodeNewbie podcast. Help us tell the stories of incredible programmers at different parts of their journey to our audience of incredible coders.</span>
    </li>

    <li class="buffer bottom-border">
      <span class="title">Become a Contributor</span>
      </br>
      <span>We've got two sponsorship spots open for the CodeNewbie podcast. Help us tell the stories of incredible programmers at different parts of their journey to our audience of incredible coders.</span>
    </li>

    <li class="buffer bottom-border">
      <span class="title">Join us for our weekly TwitterChat</span>
      <br>
      <span>We've got two sponsorship spots open for the CodeNewbie podcast. Help us tell the stories of incredible programmers at different parts of their journey to our audience of incredible coders.</span>
    </li>

    <li class="buffer bottom-border">
      <span class="title">Spread the word</span>
      </br>
      <span>We've got two sponsorship spots open for the CodeNewbie podcast. Help us tell the stories of incredible programmers at different parts of their journey to our audience of incredible coders.</span>
    </li>

  </ul>


</section>

