<%= render :partial => "pages/main_header", :locals => { :title => "Get Involved", :description => "All the ways you can get join our community.", :button_color => "blue", :cta => nil, link: "#" } %>

<section>
  <ul class="big-list">
    <li class="buffer bottom-border">
      <span class="title">Join us for our weekly TwitterChat</span>
      <br>
      <span>Every <strong>Wed at 9PM EST</strong>, we gather for an hour to talk about a coding topic, like "Getting Unstuck" or "Careers In Tech." We'd love for you to join us. You'll walk away with a few more incredible coders to follow and a huge boost in coding energy.</span>

      <div class="flag blue">
        <a href="https://twitter.com/search?f=realtime&q=%23CodeNewbie&src=typd" target="_blank">#CodeNewbies</a>
      </div>
    </li>

    <li class="buffer bottom-border">
      <span class="title">Sponsor the CodeNewbie Podcast</span>
      </br>
      <span>Each week, we interview an incredible coder (some newbie, some not-so-newbie) in hopes of inspiring people on their coding journey. <br><br>We have <strong>two sponsorship slots</strong> open for the CodeNewbie podcast. If you're as passionate about coding as we are, we should talk :)</span>
      
      <br>

      <div class="flag"><%= mail_to "hello@codenewbie.org", "Contact", :subject => "Interested in Sponsoring the CodeNewbie Podcast", :target => "blank" %></div>
    </li>

    <li class="buffer bottom-border">
      <span class="title">Become a Contributor</span>
      </br>
      <span>We're building up our blog, and we'd love to hear your perspective. If you have a personal coding story, a programming tutorial, a research-based article, we'd love to see it. Especially if it's about careers in tech.
        <br>
        <br>
        If you don't know what to write about, but you're interested in contributing, even better! We've got a nice, long list of topics for you to choose from. Don't be shy :)
      </span>

      <div class="flag blue"><a href="https://docs.google.com/forms/d/1ROr_-AuqZT0sVe5Ci0M1C6JAOi-gl_8YCxHJ7vevJ0o/viewform?usp=send_form" target="_blank">I'm interested</a></div>
    </li>

    <li class="buffer bottom-border">
      <span class="title">Follow us on Twitter</span>
      </br>
      <span>The best way to get to know our community and add some coding resources, encouragement, and coding goodness to your twitter feed. Pretty easy, right?</span>
      <div class="flag blue"><a href="https://twitter.com/codenewbies" target="_blank">@CodeNewbies</a></div>
    </li>

  </ul>


</section>

