<section>
  <article>
    <h2>Email *</h2>
    <p class="gray"><em>For account information and notification purposes only. No spam, we promise :)</em></p>

    <%= form_for(@user) do |f| %>
      <%= f.text_field :email, value: "" %>
      <%= f.submit "Submit" %>
    <% end %>
  </article>
</section>
