<section id="new-resource">

  <h1>Create a New Resource</h1>

  <article>
    <%= form_for @resource do |f| %>
      <%= render :partial => 'form', :locals => { :f => f } %>

      <%= f.submit 'Create', name: 'create_button', id: 'create_button' %>
    <% end %>
  </article>

  <h3>
    <%= link_to 'Back to Edit Resources', edit_resources_path %>
  </h3>

</section>
