<section>
  <h3><div class="title">Last Week's TwitterChat:</div> Wed. March 19 @ 7PM EST -- "Life as a Coder"</h3>

</section>

<section>
  <h3><div class="title">Questions we discussed on "Life as a Coder"</div></h3>

  <ul>
    <li>The best part of being a programmer/programmer-in-training is ________. </li>

    <li>Since I first began programming, I’ve started _________ all the time.</li>

    <li>The hardest part about being a programmer/programmer-in-training is _________.</li>

    <li>Since I first started programming, I’ve stopped __________ all the time.</li>

    <li> Compared to my previous jobs, the thing I like most about being a developer is ______. </li>

  </ul>

</section>