<section>
  <h3><div class="title">Last Week's TwitterChat:</div> Wed. February 19 @ 7PM EST --  theme : "Getting Unstuck"</h3>

</section>

<!-- <section>
  <h3><div class="title">Resources we shared:</div></h3>
  
  <ul>
    <a href="http://danluu.com/teach-debugging/" target="_blank"><li>Why Don't Schools Teach Debugging? [blog post]</li></a>
    
    <a href="http://lifehacker.com/which-programming-language-should-i-learn-first-1477153665" target="_blank"><li>Which Programming Language Should I Learn First? [blog post]</li></a>
    
    <a href="http://newcoder.io" target="_blank"><li>NewCoder.io [educational resource]</li></a>

    <a href="http://www.raywenderlich.com" target="_blank"><li>Ray Wenderlich: Tutorials for developers & Gamers [educational resource]</li></a>

    <a href="http://pine.fm/LearnToProgram/" target="_blank"><li>Chris Pine's Learn to Program [educational resource]</li></a>

    <a href="http://projecteuler.net" target="_blank"><li>Project Euler [educational resource]</li></a>

    <a href="http://tutorials.jumpstartlab.com" target="_blank"><li>JumpStartLab Tutorials [educational resource]</li></a>

    <a href="http://carlosplusplus.github.io/blog/2013/06/13/the-road-to-ruby-from-c-plus-plus/" target="_blank"><li>The Road to Ruby From C++ [blog post]</li></a>

    <a href="http://www.collectdiv.com" target="_blank"><li>Collect-Div: Month-long virtual study groups for programmers [educational resource]</li></a>

  </ul>

</section> -->

<section>
  <h3><div class="title">Questions we discussed on "Getting Unstuck."</div></h3>

  <ul>
    <li>Tell me about the last time you felt stuck. What problem were you working on?</li>

    <li>When you’re stuck, how do you know when to stop banging your head against the wall, and get help?</li>

    <li> How did you get unstuck?</li>

    <li>Getting unstuck often starts with breaking down the problem - what were the steps you took to break down your problem?</li>

    <li>Debugging can be really hard and sticky for a new programmer. What are some things to keep in mind when debugging?</li>

    <li>A big part of getting unstuck is just getting a different perspective. Where do you go to for advice/perspective?</li>

    <li>What helps you most in those moments when you just can't figure it out?</li>

  </ul>

</section>