<section>
  <h3><div class="title">Last Week's TwitterChat:</div> Wed. March 5 @ 7PM EST -- "Teaching Yourself to Code"</h3>

</section>

<section>
  <h3><div class="title">Resources we shared:</div></h3>
  
  <ul>
    <a href="http://www.thoughtworks.com/radar/#/" target="_blank"><li>ThoughtWorks' Technology Radar [infographic]</li></a>
    
    <a href="https://developer.mozilla.org/en-US/docs/Web/Tutorials" target="_blank"><li>MDN's HTML Tutorials [educational resource]</li></a>
    
    <a href="http://cocoaheads.tv" target="_blank"><li>CocoaHeads TV [educational resource]</li></a>

    <a href="http://www.amazon.com/HTML-CSS-Design-Build-Websites/dp/1118008189" target="_blank"><li>HTML and CSS: Design and Build Websites [book]</li></a>

    <a href="http://indydocs.herokuapp.com/curriculum/" target="_blank"><li>Railsbridge Curriculum [educational resource]</li></a>

    <a href="http://techiferous.com/2010/07/roadmap-for-learning-rails/" target="_blank"><li>Roadmap for Learning Rails [educational resource]</li></a>

    <a href="http://nsscreencast.com" target="_blank"><li>NS Screencast - iOS Development [educational resource]</li></a>

    <a href="http://lifehacker.com/5743814/become-a-command-line-ninja-with-these-time-saving-shortcuts" target="_blank"><li>Become a Command Line Ninja With These Time-Saving Shortcuts [blog post]</li></a>

    <a href="http://joelonsoftware.com/articles/fog0000000043.html" target="_blank"><li>The Joel Test: 12 Steps to Better Code [blog post]</li></a>

    <a href="http://www.tiobe.com/index.php/content/paperinfo/tpci/index.html" target="_blank"><li>TIOBE Programming Community Index - Popularity of Programming Languages [infographic]</li></a>

  </ul>

</section>

<section>
  <h3><div class="title">Questions we discussed on "Teaching Yourself to Code"</div></h3>

  <ul>
    <li>There are so many resources to learn to code: books, bootcamps, online-courses. How are you learning to code?</li>

    <li>What’s been the hardest part of teaching yourself to code? How are you dealing with it?</li>

    <li>One hard part about teaching yourself is deciding what to learn next. How do you decide what you focus on?</li>

    <li>Do you prefer learning in groups or riding solo? Tell me what you like about it.</li>

    <li>Another learning decision is breadth vs. depth. Do you prefer to deep dive into a #programming topic or get a high-level feel for a bunch of different ones?</li>

  </ul>

</section>