<section>
  <h3><div class="title">Last Week's TwitterChat:</div> Wed. March 12 @ 7PM EST -- "Pair Programming"</h3>

</section>

<section>
  <h3><div class="title">Questions we discussed on "Pair Programming"</div></h3>

  <ul>
    <li>There are many ways to pair program. How do you program with others? </li>

    <li>How often do you program with others? Or do you usually code solo?  </li>

    <li>What's your favorite part of programming with others?</li>

    <li>But it's not always easy. What's the hardest part of programming with others?</li>

    <li>You can't always pick who you work with ... what do you do when you and your pairing partner disagree?</li>

  </ul>

</section>