<section>
  <h3><div class="title">Last Week's TwitterChat:</div> Wed. February 26 @ 7PM EST -- "Teaching Yourself to Code"</h3>

</section>

<!-- <section>
  <h3><div class="title">Resources we shared:</div></h3>
  
  <ul>
    <a href="http://www.wpkb.com/wordpress-code-snippets/" target="_blank"><li>24 Awesome WordPress Code Snippets [blog post]</li></a>
    
    <a href="https://weworkremotely.com" target="_blank"><li>We Work Remotely [job resource]</li></a>
    
    <a href="http://www.meetup.com/Women-Who-Code-Sydney/events/166669532/" target="_blank"><li>Women Who Code - Sydney [community event]</li></a>

    <a href="http://www.meetup.com/Developers-for-Good/events/167933222/" target="_blank"><li>Code Good Sunday [community event]</li></a>

    <a href="http://meetup.org" target="_blank"><li>Meetup.org [community]</li></a>

    <a href="http://inside.envato.com/good-programmer/" target="_blank"><li>A Good Programmer [blog post]</li></a>

    <a href="http://uptodate.frontendrescue.org" target="_blank"><li>How to Keep Up to Date On Front-End Technologies [educational resource]</li></a>

    <a href="http://www.wpkb.com" target="_blank"><li>Word Press Knowledge Base [educational resource]</li></a>

    <a href="http://blog.codinghorror.com/rubber-duck-problem-solving/" target="_blank"><li>Rubber Duck Problem Solving [blog post]</li></a>

    <a href="http://lucybain.com/resources/udacity-python-study-group/" target="_blank"><li>Udacity Python Study Group [educational resource]</li></a>

  </ul>

</section> -->

<section>
  <h3><div class="title">Questions we discussed on "Teaching Yourself to Code"</div></h3>

  <ul>
    <li>There are so many resources to learn to code: books, bootcamps, online-courses. How are you learning to code?</li>

    <li>What’s been the hardest part of teaching yourself to code? How are you dealing with it?</li>

    <li>One hard part about teaching yourself is deciding what to learn next. How do you decide what you focus on?</li>

    <li>Do you prefer learning in groups or riding solo? Tell me what you like about it.</li>

    <li>Another learning decision is breadth vs. depth. Do you prefer to deep dive into a #programming topic or get a high-level feel for a bunch of different ones?</li>

  </ul>

</section>