<section>
  <h3><div class="title">Last Week's TwitterChat:</div> Wed. February 26 @ 7PM EST -- "What Makes a Good Programmer?"</h3>

</section>

<section>
  <h3><div class="title">Resources we shared:</div></h3>
  
  <ul>
    <a href="http://www.wpkb.com/wordpress-code-snippets/" target="_blank"><li>24 Awesome WordPress Code Snippets [blog post]</li></a>
    
    <a href="https://weworkremotely.com" target="_blank"><li>We Work Remotely [job resource]</li></a>
    
    <a href="http://www.meetup.com/Women-Who-Code-Sydney/events/166669532/" target="_blank"><li>Women Who Code - Sydney [community]</li></a>

    <a href="http://www.meetup.com/Developers-for-Good/events/167933222/" target="_blank"><li>Code Good Sunday [community]</li></a>

    <a href="http://meetup.org" target="_blank"><li>Meetup.org [community]</li></a>

    <a href="http://inside.envato.com/good-programmer/" target="_blank"><li>A Good Programmer [blog post]</li></a>

    <a href="http://uptodate.frontendrescue.org" target="_blank"><li>How to Keep Up to Date On Front-End Technologies [educational resource]</li></a>

    <a href="http://www.wpkb.com" target="_blank"><li>Word Press Knowledge Base [educational resource]</li></a>

    <a href="http://blog.codinghorror.com/rubber-duck-problem-solving/" target="_blank"><li>Rubber Duck Problem Solving [blog post]</li></a>

    <a href="http://lucybain.com/resources/udacity-python-study-group/" target="_blank"><li>Udacity Python Study Group [educational resource]</li></a>

  </ul>

</section>

<section>
  <h3><div class="title">Questions we discussed on "What Makes a Good Programmer?"</div></h3>

  <ul>
    <li>"Good" is such a subjective word. What does it mean to you to be a "good" programmer?</li>

    <li>The ability to problem solve is a big one. Would love your thoughts on that. How do you become a better problem solver?</li>

    <li>A lot of programmers get started by teaching themselves, which can make it hard to self-evaluate. What metrics do you use to assess your progress?</li>

    <li>As a CodeNewbie, how do you connect with more experienced programmers? Who's been helpful in your learning?</li>

    <li>We can all do things to be better programmers. What's one thing you can do to be a better programmer?</li>

    <li>What can we at #CodeNewbie do to help you be a better programmer?</li>

  </ul>

</section>