<section>
  <h3><div class="title">Last Week's TwitterChat:</div> Wed. February 12 @ 7PM EST --  theme : "Starter Projects"</h3>

</section>

<section>
  <h3><div class="title">Resources we shared:</div></h3>
  
  <ul>
    <a href="http://danluu.com/teach-debugging/" target="_blank"><li>Why Don't Schools Teach Debugging? [blog post]</li></a>
    
    <a href="http://lifehacker.com/which-programming-language-should-i-learn-first-1477153665" target="_blank"><li>Which Programming Language Should I Learn First? [blog post]</li></a>
    
    <a href="http://newcoder.io" target="_blank"><li>NewCoder.io [educational resource]</li></a>

    <a href="http://www.raywenderlich.com" target="_blank"><li>Ray Wenderlich: Tutorials for developers & Gamers [educational resource]</li></a>

    <a href="http://pine.fm/LearnToProgram/" target="_blank"><li>Chris Pine's Learn to Program [educational resource]</li></a>

    <a href="http://projecteuler.net" target="_blank"><li>Project Euler [educational resource]</li></a>

    <a href="http://tutorials.jumpstartlab.com" target="_blank"><li>JumpStartLab Tutorials [educational resource]</li></a>

    <a href="http://carlosplusplus.github.io/blog/2013/06/13/the-road-to-ruby-from-c-plus-plus/" target="_blank"><li>The Road to Ruby From C++ [blog post]</li></a>

    <a href="http://www.collectdiv.com" target="_blank"><li>Collect-Div: Month-long virtual study groups for programmers [educational resource]</li></a>

  </ul>

</section>

<section>
  <h3><div class="title">Questions we discussed on "Starter Projects."</div></h3>

  <ul>
    <li>Tell me about yourself! - How long ago did you start coding and in what language(s)? Where are you tweeting from?</li>

    <li>What was your first #coding project about?</li>

    <li>What was the hardest part about building your first few #programming projects?</li>

    <li>What kinds of projects/apps make good “starter projects”? </li>

    <li>When you’re building your first few programs, what did you do when you got stuck?</li>

    <li>What was the biggest take away from your first few programs?</li>

    <li>What are some good “project-based-learning” resources for #CodeNewbie's around the world?</li>

  </ul>

</section>