<section>
  <h3><div class="title"> Past TwitterChats : </div> </h3>
  <a href="/chats/6"><h3>Wed. March 12 -- "Pair Programming"</h3></a>
</section>

<section>
  <a href="/chats/5"><h3>Wed. March 5 -- "Teaching Yourself to Code"</h3></a>
</section>

<section>
  <a href="/chats/4"><h3>Wed. February 26 -- "What Makes a Good Programmer?"</h3></a>
</section>

<section>
  <a href="/chats/3"><h3>Wed. February 19 --  theme : "Getting Unstuck"</h3></a>
</section>

<section>
  <a href="/chats/2"><h3>Wed. February 12 --  theme : "Starter Projects"</h3></a>
</section>

<section>

  <h3>Wed. February 5 --  theme : "#CodeNewbie Kickoff!"</h3>

</section>