<section>
  <h3><div class="title"> Past TwitterChats : </div> </h3>
  <a href="/chats/4"><h3>Wed. February 26 @ 7PM EST -- "What Makes a Good Programmer?"</h3></a>
</section>

<section>
  <h3><div class="title"> Past TwitterChats : </div> </h3>
  <a href="/chats/3"><h3>Wed. February 19 @ 7PM EST --  theme : "Getting Unstuck"</h3></a>
</section>

<section>
  <h3><div class="title"> Past TwitterChats : </div> </h3>
  <a href="/chats/2"><h3>Wed. February 12 @ 7PM EST --  theme : "Starter Projects"</h3></a>
</section>

<section>

  <h3>Wed. February 5 @ 7PM EST --  theme : "#CodeNewbie Kickoff!"</h3>

</section>