<section id="new-resource">

  <h1>#CodeNewbie Stories</h1>
  <p class="tag-cloud">
    <% Blog.tag_counts.sort{ |x,y| x.name <=> y.name }.each do |tag| %>
        <span class="tag">
          <%= link_to tag.name, blog_tag_path(tag.name) %>
        </span>
    <% end %>
  </p>

  <article>
    <% @blog_posts.each do |post| %>
      <h3><%= link_to post.title, blog_path(post) %></h3>
      <%= simple_format(post.excerpt) %>
      <% if admin? %>
        <h3 class="page-nav-buttons">
          <%= link_to 'Edit', edit_blog_path(post) %>
        </h3>
      <% end %>
    <% end %>
  </article>

</section>