<section id="new-blog-post">

  <h1>Create a New Blog Post</h1>

  <article>
    <%= form_for @blog do |f| %>
      <%= render :partial => 'form', :locals => { :f => f } %>

      <%= f.submit 'Create', name: 'create_button', id: 'create_button' %>
    <% end %>
  </article>

  <h3>
    <%#= link_to 'Back to Edit Blog', edit_resources_path %>
  </h3>

</section>