@mixin button-bg($bg-color: $bright-green, $color: white, $text-transform: uppercase){
  font-size: 12px;
  text-transform: $text-transform;
  padding: 3px 10px;
  color: $color;
  background: $bg-color;
}

.flag {
  a, span { 
    @include button-bg();
    &.podcast {background: $bright-orange} 
    &.chat {background: $bright-green} 
    &.blog {background: $blue} 
    &.attention {background: $blue} 
    &.gray { background: $lightgray; color: $gray; } 
    &.gray:hover { background: $gray; color: white; } 
  }
}

.flag .gray {

}

.twitter-avatar li.circle {
  width: 82px; 
  height: 82px; 
  background: $bright-green;
  border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    a p {
      color: white;
      text-align: center;
      margin-top: 33%;
    }
}

.right-triangle {
  position: absolute;
  width: 10px;
  height: 10px;
  border-left: 20px solid $bright-orange;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.inline-arrow-nav {
  position: relative;
}



