@mixin button-bg($bg-color: $bright-green, $color: white, $text-transform: uppercase){
  font-size: 12px;
  text-transform: $text-transform;
  padding: 3px 10px;
  color: $color;
  background: $bg-color;
}

.flag {
  span { 
    @include button-bg();
    &.podcast {background: $bright-orange} 
    &.chat {background: $bright-green} 
    &.story {background: $blue} 
  }
}