@mixin caption-text {
  font-size: 20px;
  text-transform: none;
  color: $gray;
  font-family: "Roboto";
  font-weight: 300;
  a { color: $soft-gray; }
}

.left-right-cushion {
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  padding-top: 50px;
  h1.title {
    font-weight: 500;
    line-height: 1;
  }
  span.subtitle {
    @include caption-text;
  }
}

.module {
  border-bottom: 1px solid $lightgray;
  padding-top: 20px;

  h1.title {
    margin-bottom: 0;
  }

  .caption {
    @include caption-text;
    text-align: center; 
  }

  p a {
    color: black; 
  }

  .description p { 
    font-weight: 100; 
    color: black;
  }

  p { 
    color: $bright-green; 
    font-weight: 500;
    font-size: 22px;
  }

  &.image { text-align: center; }

}

.share {
  display: inline;
  float: right;
  a {
    font-size: 15px;
    text-transform: lowercase;
    padding: 3px 10px;
  }
  a.tweet {
    background: $mint-green;
    color: $dark-green;
  }

  a.mail {
    background: $lightgray;
    color: $soft-gray;
  }
}
