/* Define and Override Bourbon // Neat Variables */

$bright-green: #11bd2d;
$tan: #f0f0ec;
$dark-aqua: #036b72;
$dark-gray: #404040;
$dark-green: #039119;
$mint-green: #D7FFD7;
$light-yellow: #FDF998;
$lightgray: #eee;
$bright-orange: #FFB415;
$gray: #C0C0C0;
$soft-gray: #929292; 
$blue: #068CE6;

.podcast, .orange { color: $bright-orange }
.chat, .green { color: $bright-green }
.story, .blue { color: $blue }