.callout {
  text-align: center;
  background: #fefefe;
  border: 1px solid #eaecea;
  padding: 50px 30px 60px;
}

.mobile {
  display: block;
}

.desktop {
  display: none;
}

.full-panel {
  max-width: none;
  &.gray { 
    background: #fefefe; 
    border-top: 1px solid $lightgray;
    border-bottom: 1px solid $lightgray;
  }
}

.page-header {
  padding: 30px 0px;
  h1 { font-weight: 500; }
  p { font-size: 30px; }
}

.six-columns {
  width: 100%;
}

.six-columns:last-child {
  padding-top: 30px;
}