h1, h2, h3, h4, p, li, a {
  font-family: "Roboto", "Helvetica", "san-serif";
  color: $dark-gray;
}

li, a, p {
  font-weight: 300;
}

h1, h2 {
  padding: 0;
  margin:0;
}

a {
  text-decoration: none;
  color: $bright-green;
}

a:hover {
  color: $dark-aqua;
}

ul {
  list-style: none;
  padding: 0 0 0 17px;
  counter-reset: my-awesome-counter;
}

.buffer {
  padding: 30px;
}

div.subtitle { @include caption-text }

.bottom-border {
  border-bottom: 1px solid $lightgray;
  margin-bottom: 20px;
}

article div.bottom-border:last-child { border: none; }

li {
  margin-left: 10px;
  padding: 0 0 25px 0;
  counter-increment: my-awesome-counter;
  margin-bottom: 25px;
  border-bottom: 1px solid white;
  line-height: 35px;
}

li:before {
  content: counter(my-awesome-counter);
  font-size: 20px;
  line-height: 30px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px 0 -40px;
  width: 30px;
  text-align: center;
  border-radius: 1in;
  border: 1.5px solid #11bd2d;
  font-weight: 900;
  background: white;
}

input {
  font-size: 16px;
  padding: 10px 15px;  
  box-shadow: none;
}

input[type="submit"] {
  background: $bright-green;
  color: white;
  box-shadow: none;
  font-family: "Roboto";
  padding: 10px 16px; 
  border: none;
}

input[type="submit"]:hover {
   background: white;
   color: $bright-green;
   padding: 9px 15px; 
   border: 1px solid $bright-green;

}

span.thin {
  font-weight: 100;
}

.green { color: $bright-green; }
.gray, .gray a { color: $gray; }

@mixin caption-text {
  font-size: 18px;
  text-transform: none;
  color: $gray;
  font-family: "Roboto";
  font-weight: 300;
  a { color: $soft-gray; }
}

.caption {
  @include caption-text;
  text-align: left; 
}
