.next-chat {
  background: white;
  margin-top: 50px;
  .next-chat-info {
    @include grid-column(6);
    margin: 0;  
    padding-top: 51px;
    vertical-align: middle;
  }

  .tweet {
    @include grid-column(6);
    background: $tan;
    padding-left: 30px;
  }
}

section {
  header {
  position: relative;
  margin-top: 40px;
  h1 {
    font-size: 100px;
    @include grid-column(3);
  }
  .details {
    @include grid-column(9);
    display: inline-block;
    text-align: right;
    color: blue;
    position: absolute;
    right: 10px;
    width: 70%;
    p {
      font-size: 20px;
      line-height: 25px;
      padding: 5px;
    }
  }
}

}

aside.rules {
  text-align: center;

  h2 {
    display: inline;
    text-align: center;
    vertical-align: middle;
    padding-right: 40px;
    font-size: 25px;
  }

  ul {
    display: inline;
  }

  li {
    display: inline;      
    padding-right: 60px;
    text-align: center;
    vertical-align: middle;
    font-size: 25px;
  }
}

.faqs {

  h3 {
    padding-bottom: 10px;
  }

  h3, li, p {
    font-size: 25px;
  }

  .first-question {
    border-bottom: 1px solid white;
  }

  li:before {
    content: counter(my-awesome-counter);
    font-size: 30px;
    line-height: 40px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0 -50px;
    width: 40px;
    text-align: center;
    border-radius: 1in;
    border: 1.5px solid #11bd2d;
    font-weight: 900;
    background: white;
  }

}




