.twitter-avatar {
  padding-top: 20px;
  @include block-grid(3);
  li { margin-left: 0px; }
  li:before {
    display: none;
  }
  img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
  }
}

img.columns {
  padding: 0px;
}

.image-text {
  h3, .subtitle { margin: 0; font-size: 18px; line-height: 24px;}
  padding: 0;
  .subtitle {
    font-size: 14px;
  }
}