#nav {
  padding-top: 0px;

  img {
    width: 25%;
  }

  .slogan, .slogan a {
    font-size: 12px;
    text-transform: none;
    display: inline;
    padding: 0;
  }

  .slogan a {
    color: $mint-green;
  }

  .slogan a:hover {
    color: $bright-green;
  }

  .right li > a {
    // border-left: 3px solid white;
    border-top: none; 
  }

  .top-bar .name { width: 600px; }

  .top-bar .toggle-topbar.menu-icon::after {
    display: none;
  }

  .top-bar .toggle-topbar.menu-icon {
    display: none;
  }

  .sticky {
    padding-top: 0;
    border-bottom: 1px solid rgb(84, 201, 84);
  }
}
