.next-chat {
  max-width: none;
  background: $bright-green;
  height: 410px;
  background-image: url("code-newbie-baby4.png");
  background-repeat: no-repeat;
  background-position: right 300px top 60px;
  background-size: 700px;
  padding-top: 50px;

  article.next-chat-info {
    padding-left: 330px;
    padding-right: 230px;
    @include grid-column(8);
    margin: 0;  
    vertical-align: middle;
    background: none;
    border: none;
    h1, a {
      // color: $bright-green;
      line-height: 65px;
    }
    h2:first-child {
      line-height: 32px;
    }
  }

  .tweet {
    background: none;
    padding-left: 330px;
    padding-right: 100px;
    border: none;
    h2 {
      // color: $bright-green;
      line-height: 30px;
      font-family: "Roboto", "Helvetica";
      font-weight: 100;
      font-size: 20px;
      text-align: left;
    }
    h2:last-child {
      font-size: 20px;
    }
  }
}

.next-chat {
  article.next-chat-info {
    @include grid-column(8);
    border-bottom: none;
    padding-right: 40px;

    .next-twitter-chat {
      padding-left: 330px;
      // padding-right: 150px;
      padding-top: 30px;
      text-align: left;
      h2:first-child {
        line-height: 15px;
        font-size: 20px;
        padding: 0;
        margin: 0;  
        color: $dark-gray;
      }
      h1 {
        font-size: 50px;
      }
    }
  }
}
  