#resources span.tag {
  background: white;
  margin: 5px;
  font-size: 20px;
  font-weight: 300;
}

#resources, #edit-resources {
  h1 a {
    color: black;
    font-weight: 300;
  }

  h1 {
    margin-bottom: 20px;
  }
}

#edit-resources {

  input {
    font-size: 16px;
    padding: 10px 15px;  
    box-shadow: none;
  }

  input[type="submit"] {
    background: $bright-green;
    color: white;
    box-shadow: none;
    font-family: "Roboto";
    border: none;
  }

  input[type="submit"]:hover {
     background: white;
     color: $bright-green;
     padding: 9px 15px; 
     border: 1px solid $bright-green;

  }
}