/* Define and Override Bourbon // Neat Variables */

$bright-green: #11bd2d;
$tan: #f0f0ec;
$dark-aqua: #036b72;
$dark-gray: #404040;
$dark-green: #039119;
$mint-green: #D7FFD7;
$light-yellow: #FDF998;
$lightgray: #eee;
$bright-orange: #FFB415;