<section id="new-resource">

  <div class="buffer">
    <h1>Podcast</h1>
    <br>
      <span class="share inline-left">
        <a href="https://itunes.apple.com/us/podcast/codenewbie/id919219256" class="blue" target="_blank">iTunes</a>
        <a href="http://bloggytoons.com/codenewbies?format=rss" class="orange" target="_blank">RSS</a>
      </span>
    </div>

    <% @episodes.each do |episode| %>
    <article>
      <h3><%= link_to episode.name, podcast_path(episode) %></h3>
      <%= simple_format(episode.description.truncate(200)) %><%= link_to "more", podcast_path(episode) %>
      <% if admin? %>
        <h3 class="page-nav-buttons">
          <%#= link_to 'Edit', edit_episode_path(episode) %>
          <%#= link_to 'Delete', delete_episode_path(episode) %>
        </h3>
      <% end %>
    </article>
    <% end %>

    <p class="caption">
      We're looking for sponsors for the CodeNewbie podcast. Interested? Email us at <%= mail_to "hello@codenewbie.org" %>.
    </p>

</section>