<% if false %>
<section>
  <header>
    <a href="/"><h1>#Code<br>&nbspNewbie</h1></a>
    <div class="details">
      <p class="slogan"><span class="highlight">The most supportive community of programmers and people learning to code.</span></p>
      <p><span class="highlight">Join us every Wed at 9PM EST for our weekly TwitterChat.</span></p>
      <p><span class="highlight">Follow us <a href="https://twitter.com/CodeNewbies" target="_blank">@CodeNewbies</a></span></p>
    <%= link_to "Resources", resources_path, :class => "nav" %>
    </div>

  </header>
</section>

<% end %>